/* Instellingen tussen commentaar zijn handig om fouten te helpen vinden, uncomment om aan te zetten */

/* zorg dat elke box een gestippelde rand krijgt, 
   zodat je de afmeting goed kunt zien, 
   letop 1: dit kan de layout soms kan wijzigen 
   letop 2: laat 1 sterretje voor { staan als je commentaar weghaalt */
/*  * {border: 1px dotted black;}   */
  
/* zorg dat elke box een doorzichtige donkere achtergrond krijgt, 
   hoe meer boxen in elkaar hoe donkerder de achtergrondkleur 
   letop: laat 1 sterretje voor { staan als je commentaar weghaalt */
/*  * {background-color: rgba(0,0,0,5%);}  */

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

* {                                        /* geldt voor alles */
  box-sizing: border-box;                  /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                             /* standaard marge 0 */
}

html, body {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
  background-color: #85858500;    /* achtergrondkleur lichtgrijs */
  color: #000000;               /* tekstkleur zwart */
}  

div {                             /* geldt voor div */
  overflow: hidden;               /* zorgt dat DIV de hoogte krijgt van wat erin zit (anders tellen de floats erin niet mee voor de hoogte en wordt dus wel eens hoogte 0) */
  font-size: 20px;
}

/* Indeling voor alle pagina's */

.page {
  width: 700px;                   /* vaste breedte van 700 pixels */
  margin: 10px auto;              /* boven en onder 10 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                
  margin: 10px 0px;
  color:#0f0f36;
}

main {                       
  text-align: justify;            /* tekst uitvullen */
}

h1, h2, h3 {                     
  margin: 10px 0px;
  text-align: center;             
} 

p {
  margin: 10px 0px;
  text-align: justify;            /* tekst links en rechts uitvullen */
}

img {
  margin: 10px 0px;
}

/* Indeling voor hoofd pagina */

/* .item {} */ /* hier doen we nog niks mee, dat mag je zelf toevoegen */

.item-plaatje {
  float:center;
  width:680px;
  
}
.item-tekst {
  float:right;
  width: 450px;
}

/* Indeling voor sub pagina */

/* Opmaak voor alle pagina's */

 h1, h2, h3 {
      color:rgb(0, 0, 0);     
}

.smalltext {
    text-align: center;
    font-size: 0.7em;
}

a {
    color: rgb(213, 51, 148);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Opmaak voor sub pagina's */

/* Navigatiebalk voor alle pagina's */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #16396f;
    overflow: hidden;
}

nav ul li {
    float: left;
    width: 20%;
    height: 50px;
}

nav li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #577696;
}

nav li a.active {
    background-color: rgb(88, 109, 202);
}


#achtergrond1 {
  background-image: url("afbeeldingen/otterbackround 1200.jpg");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}


.middleBlock{
  background-color: rgba(247, 254, 255, 0.611);
  height: fit-content;
  width: 700px;
  padding: 10px 10px;
  margin: 0px;
}

#achtergrond2{
  background-image: url("afbeeldingen/sloot1.jpeg");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.item-plaatje{
  float: left;
  width: 175px;
  padding-right: 15px;
}

#achtergrond3{
  background-image: url("afbeeldingen/fish.avif");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /* op sommige schermen bedekt het plaatje niet de hele achtergrond, dat komt omdat de body dan te klein is. Dat heb ik opgelost met min-height 100% op body en html */
}

body {
  min-height: 100%;
  
}

html {
  min-height: 100%;
}

#achtergrond4{
  background-image: url("afbeeldingen/behang.avif");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

table{
  border-collapse: collapse;
  width: 100%;
  color:black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

th, td{
  border: 4px solid rgb(105, 158, 218);
  padding: 8px;
  text-align: left;
}